<launch>

   <include file="$(find yocs_velocity_smoother)/launch/standalone.launch" />

   <include file="$(find amcl)/launch/amcl.launch" />

   <node pkg="map_server" type="map_server" name="map_server" args="$(find bringup)/maps/bisai.yaml" />
	
   <include file="$(find ros_arduino_python)/launch/arduino.launch" />	

   <include file="$(find descriptions)/launch/display.launch" />
      
   <include file="$(find rplidar_ros)/launch/rplidar.launch" />
   
   <include file="$(find navigation)/launch/move_base.launch" />
   
   
</launch>
